
#story {
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  overflow: hidden;
  background-color: rgba(25,10,22,0.5);
  z-index: 1;
  position: absolute;
  display: none;
  width: 700px;
  /* height: 95vh; */
  top:5px;
  right:30px;
  
} 

#storyBar::-webkit-scrollbar{
  display: none
}
#instagramlogo {
  margin-bottom:-13px;
  width: 111px ;
}
.commentInput {
  border: none;
  width: 100%;
  outline: none ;
}
.shareIcon {
  color: gray;
}
.follow {
  color: blue;
  font-size:15px;
  text-decoration: none;
}